/* COLOR
	aqua black blue fuchsia
	gray green lime maroon
	navy olive purple red
	silver teal white yellow
*/

body {
	padding-top: 54px;
}

pre {
    white-space: pre-wrap;
}

img {
	border: 1px solid black;
}

p {
	font-family: "Helvetica", "Verdana", "Arial", sans-serif;
}

table {
	border: solid 5px lightgrey;
	border-collapse: collapse
}

td {
    border: solid 2px lightgrey;
}

.nav-item {
	margin: 1%
}

.btn-yellow, .btn-yellow:hover, .btn-yellow:active, .btn-yellow:visited {
    background-color: #DEC20B !important;
    color: white;
}

.btn-darkblue, .btn-darkblue:hover, .btn-darkblue:active, .btn-darkblue:visited {
    background-color: #00008B !important;
    color: white;
}

.btn-gray, .btn-gray:hover, .btn-gray:active, .btn-gray:visited {
    background-color: #808080 !important;
    color: white;
}

.card-footer {
	text-align: right;
}

.dropdown-menu {
    max-height: 280px;
    overflow-y: auto;
}

@media (min-width: 992px) {

  	body {
		padding-top: 54px;
	}

	pre {
	    white-space: pre-wrap;
	}

	img {
		border: 1px solid black;
	}

	p {
		font-family: "Helvetica", "Verdana", "Arial", sans-serif;
	}

	table {
		border: solid 5px lightgrey;
		border-collapse: collapse
	}

	td {
	    border: solid 2px lightgrey;
	}

  	.nav-item {
		margin: 1%
	}

	.btn-olive, .btn-olive:hover, .btn-olive:active, .btn-olive:visited {
	    background-color: #808000 !important;
	    color: white;
	}

	.btn-teal, .btn-teal:hover, .btn-teal:active, .btn-teal:visited {
	    background-color: #008080 !important;
	    color: white;
	}

	.btn-rose, .btn-rose:hover, .btn-rose:active, .btn-rose:visited {
	    background-color: #FF5733 !important;
	    color: white;
	}
}