/* COLOR
	aqua black blue fuchsia
	gray green lime maroon
	navy olive purple red
	silver teal white yellow
*/

body {
	padding-top: 54px;
}

pre {
    white-space: pre-wrap;
}

img {
	border: 1px solid black;
}

p {
	font-family: "Helvetica", "Verdana", "Arial", sans-serif;
}

.nav-item {
	margin: 1%
}

.btn-olive, .btn-olive:hover, .btn-olive:active, .btn-olive:visited {
    background-color: #808000 !important;
    color: white;
}

.btn-teal, .btn-teal:hover, .btn-teal:active, .btn-teal:visited {
    background-color: #008080 !important;
    color: white;
}

.btn-rose, .btn-rose:hover, .btn-rose:active, .btn-rose:visited {
    background-color: #FF5733 !important;
    color: white;
}

.card-footer {
	text-align: right;
}

@media (min-width: 992px) {

  	body {
		padding-top: 54px;
	}

	pre {
	    white-space: pre-wrap;
	}

	img {
		border: 1px solid black;
	}

	p {
		font-family: "Helvetica", "Verdana", "Arial", sans-serif;
	}

  	.nav-item {
		margin: 1%
	}

	.btn-olive, .btn-olive:hover, .btn-olive:active, .btn-olive:visited {
	    background-color: #808000 !important;
	    color: white;
	}

	.btn-teal, .btn-teal:hover, .btn-teal:active, .btn-teal:visited {
	    background-color: #008080 !important;
	    color: white;
	}

	.btn-rose, .btn-rose:hover, .btn-rose:active, .btn-rose:visited {
	    background-color: #FF5733 !important;
	    color: white;
	}
}