#############
# Terraform #
#############

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Oerride files
override.tf
override.tf.json
*_override.tf
*_override.tf.json


##########
# Python #
##########

__pycache__/
.ipynb_checkpoints


# ML
large
tmp

# FA
kakaotalk
sketch